//- Slide-out navigation drawer
v-navigation-drawer(
  app
  disable-resize-watcher
  v-model = "position"
)
  v-list
    //- List of pages
    v-list-tile(
      :key="route.name"
      :to="route.path"
      v-for="route in routes"
    )
      v-list-tile-action
        v-icon {{ route.icon}}
      v-list-tile-content
        v-list-tile-title {{ route.name }}