.table .move
  cursor: move

// .table .input-group--text-field input, .input-group--text-field textarea
//   font-size: 15px

// .table .input-group
//   padding-top: 0px

// table.table tbody td
//   font-size: 15px

// .theme--light .table tbody tr:not(:last-child), .application .theme--light.table tbody tr:not(:last-child)
//   border-bottom: none

// .table textarea
//   resize: none

.v-tabs, .v-tabs__items
  height: 100%

// ---------------------------------
.table .v-input__slot::before
  display: none

.theme--light .v-table tbody tr:not(:last-child) 
  border-bottom: none

.v-textarea textarea
  padding: 0px

.node-order
  text-align: center

.v-btn--floating.v-btn--small
  height: 20px
  width: 20px

.table a
  font-size: 16px

tbody tr.table.selected, tbody tr.table.selected:hover
  background-color: #ACCEF7 !important
