v-container(fill-height)
  //- Output fills complete grid
  v-flex(xs12 fill-height)
    //- Output PO notes
    v-textarea(
      class="textArea"
      color="primary"
      outline
      height="100%"
      v-model="poNotes"
    )
    
    buttonBar