v-flex(class="buttonBar")
  //- Reset button
  v-btn(
    @click.native="reset"
    color="primary"
  ) Reset
  //- Copy (to clipboard) button
  v-btn(
    color="primary"
    @click.native="copy"
  ) Copy To Clipboard