.tree .item 
  cursor: pointer

.tree ol, ul
  padding-left: 0px

.tree .bold 
  font-weight: bold

.tree ul.item
  list-style-type: none

.tree ul.list
  margin-left:0px
  height: 80px

.tree, .tree ul
  list-style: none

.tree ul,li
  margin-left: 10px

.tree li div input:hover
  background-color: rgba(0,0,0,.04)

.tree li div .selected, .tree li div .selected:hover
  background-color: #ACCEF7

.tree li div input, .tree li div .selected 
  font-size: 16px

.tree .no-wrap
  white-space: nowrap

.tree li div input:hover, .tree li div .v-icon:hover
  background-color: rgba(0,0,0,.04)