.move
  cursor: move

.theme--light .table tbody tr:not(:last-child), .application .theme--light.table tbody tr:not(:last-child)
  border-bottom: none

thead tr th
  font-size: 16px !important
  font-weight: bold !important

tbody tr:hover
  background-color:rgba(0,0,0,.04) !important 

.v-text-field .v-input__slot:after
  height: 0px